.main-content.widthalign
  #breadcrumbs.breadcrumbs
    :javascript
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    %ul.breadcrumb
      %li
        %i.ace-icon.fa.fa-home.home-icon
        %a{ "href": "#" } VIEW REQUEST
  .page-content
    .page-content-area
      .page-header
        %h1
          REQUEST STATUS
      .row
        .col-xs-12
          = render 'form'