.main-content.widthalign
  .page-content
    .page-content-area
      .page-header
        %h1 Change User Password
      .row
        .col-xs-12
          = form_for(:user, url: "update_user_password", :html => {:class => "form-horizontal", :role => "form", id: 'updateUserPasswordForm'}, method: 'post') do |user|
            .form-group
              %label.col-sm-3.control-label.no-padding-right{ for: "search_User" }   User Mobile :
              .col-sm-5
                %input#search_user.col-xs-12.col-sm-12{name: 'mobile','maxlength'=>10, type: 'text', :placeholder => ("User Mobile")}
            .form-group
              %label.col-sm-3.control-label.no-padding-right{ for: "user_name"}  Name :
              .col-sm-5
                %input.col-xs-12.col-sm-12{id: "user_name", placeholder: "User Name", type: "text", :readonly => ''}
            .form-group
              %label.col-sm-3.control-label.no-padding-right{:for => "form-field-1"} New Password :
              .col-sm-5
                .input-group
                  %span.input-group-addon
                  = user.password_field :password, :class => "col-xs-12 col-sm-12",:placeholder=>"password"
            .form-group
              %label.col-sm-3.control-label.no-padding-right{:for => "form-field-1"} Confirm Password :
              .col-sm-5
                .input-group
                  %span.input-group-addon
                  = user.password_field :password_confirmation, :class => "col-xs-12 col-sm-12",:placeholder=>"Confirm Password"
            .clearfix.form-actions
              .col-md-offset-3.col-md-9
                %input.btn.btn-info{name: "saveForm", type: "submit", value: "Update Password"}
                &nbsp; &nbsp; &nbsp;
                %input.btn.btn-info{name: "Reset", type: "reset", value: "Reset"}
                  %i.ace-icon.fa.fa-undo.bigger-110

          = javascript_include_tag 'admin/change_limit.js'
  :javascript
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    $(document).ready(function(){
      validation = new Validation('Forms')
      validation.validate_change_password('#updateUserPasswordForm')
    })
