.banner1
  .header
    .container
      %nav.navbar.navbar-default
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .logo
            %h1
              %a.navbar-brand{:href => '/'} TELF
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-wil
          %nav#link-effect-4.link-effect-4
            %ul.nav.navbar-nav
              %li
                %a{"data-hover" => "Home", :href => '/'} Home
              %li
                %a{"data-hover" => "Services", :href => "services"} Services
              %li
                %a{"data-hover" => "Gallery", :href => "gallery"} Gallery
              %li.active
                %a{"data-hover" => "Contact US", :href => "mail"} Contact US
              %li
                %a{"data-hover" => "Login", :href => "users/sign_in"} Login


.contact
  .container
    %h3
      %span>
      Contact Us
    /
      <div class="contact-grid">
      <div class="col-md-5 contact-left">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3056.9443837127305!2d-75.7983021!3d39.9873482!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x69c9c879a1263188!2sLutheran+Church+of+the+Good+Shepherd!5e0!3m2!1sen!2sin!4v1426659332982" frameborder="0" style="border:0"></iframe>
      </div>
      <div class="col-md-7 contact-right">
      <form action="#" method="post">
      <input type="text" name="Name" placeholder="Name" required=" ">
      <input type="text" name="Email" placeholder="Email Address" required=" ">
      <input type="text" name="Phone" placeholder="Phone Number" required=" ">
      <input type="text" name="Subject" placeholder="Subject" required=" ">
      <div class="clearfix"> </div>
      <textarea name="Message" placeholder="Type Your Text Here...." required=" "></textarea>
      <input type="submit" value="Submit">
      <input type="reset" value="Clear">
      </form>
      </div>
      <div class="clearfix"> </div>
      </div>
    .contact-bottom-grids
      .col-md-12
        .col-md-6.contact-bottom-grid
          .dot
            %span.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}
          %h3 Register Address
          %h4
            Jai shree krishna complex, Near Nehru Chowk
            %span Ulhasnagar(3)
        .col-md-6.contact-bottom-grid
          .dot
            %span.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}
          %h3 Corporate Address
          %h4
            234,B wing,2nd Floor,Regency plaza, Kalyan ambernath road, Near waldhuni breeze.
            %span Kalyan (wesst)
      .clearfix
      .col-md-12
        .col-md-6.contact-bottom-grid
          .dot
            %span.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
          %a{:href => "mailto:sanjaygupta9011@gmail.com"} sanjaygupta9011@gmail.com
        .col-md-6.contact-bottom-grid
          .dot
            %span.glyphicon.glyphicon-earphone{"aria-hidden" => "true"}
          %h4 0251-2972019
        .clearfix
  / //mail-us
  / footer
  .footer
    .container
      .col-md-3.footer-left
        %h2
          %a{:href => "/"} TELF
      .col-md-6.footer-left
        %ul.foot-nav
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "services"} Services
          %li
            %a{:href => "gallery"} Gallery
          %li
            %a{:href => "mail"} Conatct us
          %li
            %a{:href => "#"} Login
        .footer-line
        %ul.footbo
          %li
            %a{:href => "mail"}
              %span.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}
              Show on map
          %li
            %a{:href => "mailto:sanjaygupta9011@gmail.com"}
              %span.glyphicon.glyphicon-send{"aria-hidden" => "true"}>
              sanjaygupta9011@gmail.com
      .col-md-3.footer-left
        %ul.social-icons
          %li
            %a.icon-button.facebook{:href => "#"}
              %i.icon-facebook
              %span
          %li
            %a.icon-button.instagram{:href => "#"}
              %i.icon-instagram
              %span
          %li
            %a.icon-button.twitter{:href => "#"}
              %i.icon-twitter
              %span
          %li
            %a.icon-button.g-plus{:href => "#"}
              %i.icon-g-plus
              %span
        %ul.footer-number
          %li 0251-2972019
      .clearfix
      %p
        © 2016 TELF. All rights reserved | Design by
        %a{:href => "http://pandeybrajesh.com/"} Brajesh Pandey
  / //footer
  / for bootstrap working
  / //for bootstrap working
  / here stars scrolling icon
  :javascript
    $(document).ready(function() {
    	/*
    		var defaults = {
    		containerID: 'toTop', // fading element id
    		containerHoverID: 'toTopHover', // fading element hover id
    		scrollSpeed: 1200,
    		easingType: 'linear' 
    		};
    	*/
    						
    	$().UItoTop({ easingType: 'easeOutQuart' });
    						
    	});
  / //here ends scrolling icon
