.banner1
  .header
    .container
      %nav.navbar.navbar-default
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .logo
            %h1
              %a.navbar-brand{:href => '/'} TELF
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-wil
          %nav#link-effect-4.link-effect-4
            %ul.nav.navbar-nav
              %li
                %a{"data-hover" => "Home", :href => '/'} Home
              %li.active
                %a{"data-hover" => "Services", :href => "services"} Services
              %li
                %a{"data-hover" => "Gallery", :href => "gallery"} Gallery
              %li
                %a{"data-hover" => "Contact US", :href => "mail"} Contact US
              %li
                %a{"data-hover" => "Login", :href => "users/sign_in"} Login


.services
  .container
    %h3
      %span>
      Services
    .col-md-12
      %p.sequi
        Partenered with top leading companies in the world, we have excelled in all our services for giving you a better life.
        Quick, pocket friendly and tailormade solutions for your needs is possible right here.
      %p.sequi
        Size of your organization is not a problem. We serve a great variety of orgnaizations like:
      %p.sequi Small-to-medium sized businesses
      %p.sequi Fortune 500 enterprises
      %p.sequi Financial institutions
      %p.sequi Educational institutions
    .clearfix
    .services-grids.serivicesdesigneWrapper
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "child_growth"} Child Growth
          %p Children are the future of every nation. We ensure that the future...
          .more
            %a{:href => "child_growth"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "non_profit_dreams"} Non Profit Dreams
          %p When you see a needy person you want to help but don't how.We got...
          .more
            %a{:href => "non_profit_dreams"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "loss_protection"} Loss Protection
          %p Every organization goes through a stage when its financial help or...
          .more
            %a{:href => "loss_protection"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "worryless_transfers"} Worryless Transfers
          %p The limitations of regulations keep growing with the improvement ...
          .more
            %a{:href => "worryless_transfers"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .clearfix
    %h3
      %span>
      Upcoming Services
    .services-grids.upcomingServiceswrapper
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} RECHARGE YOUR MOBILE
          %p Your mobile recharge either prepaid or postpaid..
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} PAY YOUR DTH BILL
          %p Your DTH recharge cannot get simpler than this!
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} RECHARGE YOUR DATACARD
          %p Your datacard recharge is just a click away witt TELF
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} PAY YOUR ELECTRICITY BILL
          %p our electricity bill payment gets easier with TELF!.
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} PAY YOUR LANDLINE BILL
          %p Your landline bill payment is just a click away with TELF.
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} PAY YOUR GAS BILL
          %p Your gas bill payment is just a click away with TELF.
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} PAY YOUR MOVIES BILL
          %p Your movies tickets payment is just a click away with TELF.
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} BOOK YOUR HOTELS
          %p Your hotels payment is just a click away with TELF.
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} BOOK YOUR FLIGHTS TICKET
          %p Your flights tickets payment is just a click away with TELF.
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} BOOK YOUR BUS TICKET
          %p Your bus tickets payment is just a click away with TELF.
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .col-md-3.services-grid
        .services-grid1-bottom
          %h4
            %a{:href => "#"} BOOK YOUR TRAINS TICKET
          %p Your train tickets payment is just a click away with TELF.
          .more
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
      .clearfix
/ //services
/ counterup
.counterup
  .container
    .col-md-4.counterup-left
      %h4 User
      %p.counter 25,60,22,129
      .services-bottom-left-grid
        %i.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
    .col-md-4.counterup-left
      %h4 Merhant
      %p.counter 563
      .services-bottom-left-grid
        %i.glyphicon.glyphicon-hourglass{"aria-hidden" => "true"}
    .col-md-4.counterup-left
      %h4 Distributor
      %p.counter 86
      .services-bottom-left-grid
        %i.glyphicon.glyphicon-stats{"aria-hidden" => "true"}
    .clearfix
    / Stats-Number-Scroller-Animation-JavaScript
    
    
    :javascript
      jQuery(document).ready(function( $ ) {
      	$('.counter').counterUp({
      		delay: 20,
      		time: 1000
      	});
      });
    / //Stats-Number-Scroller-Animation-JavaScript
/ //counterup
/ footer
.footer
  .container
    .col-md-3.footer-left
      %h2
        %a{:href => "/"} TFAS
    .col-md-6.footer-left
      %ul.foot-nav
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "services"} Services
        %li
          %a{:href => "gallery"} Gallery
        / <li><a href="short-codes">Short Codes</a></li>
        %li
          %a{:href => "mail"} Mail Us
      .footer-line
      %ul.footbo
        %li
          %a{:href => "mail"}
            %span.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}
            Show on map
        %li
          %a{:href => "mailto:info@example.com"}
            %span.glyphicon.glyphicon-send{"aria-hidden" => "true"}>
            info@example.com
    .col-md-3.footer-left
      %ul.social-icons
        %li
          %a.icon-button.facebook{:href => "#"}
            %i.icon-facebook
            %span
        %li
          %a.icon-button.instagram{:href => "#"}
            %i.icon-instagram
            %span
        %li
          %a.icon-button.twitter{:href => "#"}
            %i.icon-twitter
            %span
        %li
          %a.icon-button.g-plus{:href => "#"}
            %i.icon-g-plus
            %span
      %ul.footer-number
        %li +1234 567 890
        %li +1234 567 891
    .clearfix
    %p
      © 2016 TFAS. All rights reserved | Design by
      %a{:href => ""} Brajesh Pandey
/ //footer
/ for bootstrap working

/ //for bootstrap working
/ here stars scrolling icon
:javascript
  $(document).ready(function() {
  	/*
  		var defaults = {
  		containerID: 'toTop', // fading element id
  		containerHoverID: 'toTopHover', // fading element hover id
  		scrollSpeed: 1200,
  		easingType: 'linear' 
  		};
  	*/
  						
  	$().UItoTop({ easingType: 'easeOutQuart' });
  						
  	});
/ //here ends scrolling icon
